footer {
	position: relative;
	bottom: 0;
	/* height: clamp(3rem, 2.124rem + 3.596vw, 5rem); */
	height: 4rem;
	background-color: $color-secondary;
	border-top: solid white;

	&.footer-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: clamp(2.5rem, 1.145rem + 6.024vw, 5rem);

		& .footer-copywrite-text {
			font-size: clamp(1.5rem, 0.7rem + 1.25vw, 2rem);
			font-weight: 300;
		}

		& .footer-logo-icon {
			display: flex;
			width: clamp(3.25rem, 2.45rem + 1.25vw, 3.75rem);
			fill: white;
			stroke: $color-primary;
			transition: transform 0.25s ease;

			&:hover {
				fill: $color-primary;
				stroke: white;
				cursor: grab;
				transform: scale(1.125);
			}
		}

		& .footer-social-icon {
			display: flex;
			width: clamp(1.75rem, 1.343rem + 1.807vw, 2.5rem);
			stroke: white;
			transition: transform 0.25s ease;

			&:hover {
				stroke: $color-primary;
				stroke-width: 8;
				transform: scale(1.25);
			}
		}
	}
}
