.nav-menu-icon {
	display: flex;
	width: clamp(1.563rem, 0.759rem + 3.571vw, 2.188rem);
	stroke: white;

	&:hover {
		stroke: $color-primary;
		cursor: pointer;
	}
}

.nav-menu-list {
	position: absolute;
	top: 4.5rem;
	left: 1.5rem;
	padding: 0.5rem;
	padding-right: 1rem;
	background-color: $color-secondary;
	border: 2.5px solid white;
	border-radius: 1.5rem;

	& .nav-menu-list-item {
		font-size: clamp(1.25rem, 0.929rem + 1.429vw, 1.5rem);
		font-weight: 500;
		padding: 0.75rem 1rem;
		display: block;
		transition: transform 0.25s ease;

		&:hover {
			color: $color-primary;
			transform: scale(1.15) translate(0.5rem);
		}
	}
}
