.no-page-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
	margin: 0.5rem;

	& .no-page-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		color: red;
		text-transform: uppercase;

		& .no-page-title {
			font-weight: 700;
		}

		& .no-page-subtitle {
			font-weight: 500;
		}
	}

	& .no-page-body {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;

		& .no-page-message {
			width: 80%;
			max-width: 29.75rem;
			font-size: 1.25rem;
			font-style: italic;
			font-weight: 200;
			margin: 0 5%;
		}

		& .no-page-link {
			color: red;
			background-color: white;
			border: 0.125rem solid red;
			border-radius: 1rem;
			padding: 0.5rem;
		}
	}
}
