.toolbox-background {
	width: 100%;
	height: 100vh;
	height: 100dvh;
	background-color: rgba(200, 200, 200, 0.5);
	position: fixed;
	top: 0;
	left: 0;

	& .toolbox-container {
		position: absolute;
		height: calc(100vh - 8.5rem);
		height: calc(100dvh - 8.5rem);
		top: 4rem;
		border: 0.3125rem solid $color-secondary;
		border-radius: 1rem;
		background-color: white;
		box-shadow: 0 0.3125rem 1.875rem rgba(0, 0, 0, 0.35);
		padding: 0.5rem 1.25rem 1.75rem;
		overflow-y: auto;
		scrollbar-width: none;

		@media (--laptop) {
			width: 70%;
			right: 15%;
		}
		@media (--toolbox-tablet-lg) {
			width: 75%;
			left: 12.5%;
		}
		@media (--toolbox-tablet-sm) {
			width: 80%;
			left: 10%;

			@media (--landscape) {
				width: 90%;
				left: 5%;
			}
		}
		@media (--mobile) {
			width: 85%;
			left: 7.5%;
		}

		& .toolbox-close-btn-wrapper {
			position: absolute;
			top: 0.625rem;
			right: 0.625rem;

			& .toolbox-close-btn-icon {
				fill: $color-secondary;

				@media (--laptop) {
					width: clamp(2.25rem, 1.417rem + 1.042vw, 2.5rem);
				}
				@media (--toolbox-tablet-lg) {
					width: clamp(2rem, 1.75rem + 0.625vw, 2.25rem);
				}
				@media (--toolbox-tablet-sm) {
					width: clamp(1.875rem, 1.375rem + 1.25vw, 2.125rem);
				}
				@media (--mobile) {
					width: clamp(1.75rem, 1.429rem + 1.429vw, 2rem);
				}

				&:hover {
					fill: white;
					stroke: $color-secondary;
					stroke-width: 3;
					cursor: pointer;
				}
			}
		}

		& .toolbox-icons-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;
			margin: 2.5rem 5% 0;

			@media (--laptop) {
				row-gap: 3rem;
				column-gap: 1.25rem;
			}
			@media (--toolbox-tablet-lg) {
				row-gap: 3rem;
				column-gap: 1rem;
			}
			@media (--toolbox-tablet-sm) {
				row-gap: 2.75rem;
				column-gap: 0.75rem;
			}
			@media (--mobile) {
				row-gap: 2.5rem;
				column-gap: 0.5rem;
			}

			& .toolbox-icon {
				aspect-ratio: 3/2;
				object-fit: contain;
				transition: transform 0.25s ease-in-out;

				@media (--laptop) {
					width: 14%;
					max-width: 8.625rem;
				}
				@media (--toolbox-tablet-lg) {
					width: 19%;
				}
				@media (--toolbox-tablet-sm) {
					width: 22%;

					@media (--landscape) {
						width: 15%;
					}
				}
				@media (--mobile) {
					width: 22%;
					min-width: 3rem;
				}

				&:hover {
					transform: scale(1.25);
					cursor: pointer;
				}
			}
		}
	}
}
