@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$color-primary: hsl(168, 76%, 42%);
$color-secondary: hsl(211, 30%, 24%);
$font-primary: 'Open Sans', sans-serif;

@custom-media --laptop (width >= 1280px);
@custom-media --tablet (640px <= width < 1280px);
@custom-media --tablet-portrait (640px <= width < 1280px) and (orientation: portrait);
@custom-media --tablet-landscape (960px <= width < 1440px) and (orientation: landscape);
@custom-media --navbar-tablet-lg (1024px <= width < 1280px);
@custom-media --navbar-tablet-sm (640px <= width < 1024px);
@custom-media --about-tablet-lg (960px <= width < 1280px);
@custom-media --about-tablet-sm (640px <= width < 960px);
@custom-media --toolbox-tablet-lg (960px <= width < 1280px);
@custom-media --toolbox-tablet-sm (640px <= width < 960px);
@custom-media --mobile (width < 640px);
@custom-media --mobile-portrait (width < 640px) and (orientation: portrait);
@custom-media --mobile-landscape (width < 960px) and (orientation: landscape);
