/* For Desktop Layout Only
--------------------- */
#about-desktop-layout {

}
#about-desktop-layout .img-container {

}
#about-desktop-layout .img-container img {

}
#about-desktop-layout .text-container {

}
#about-desktop-layout .text-container p {

}
#about-desktop-layout .btns-container {

}


/* For Laptop Layout Only
--------------------- */
#about-laptop-layout {

}
#about-laptop-layout .img-container {

}
#about-laptop-layout .img-container img {

}
#about-laptop-layout .text-container {

}
#about-laptop-layout .text-container p {

}
#about-laptop-layout .btns-container {

}


/* For Tablet Layout Only
--------------------- */
#about-tablet-layout {

}
#about-tablet-layout .img-container {

}
#about-tablet-layout .img-container img {

}
#about-tablet-layout .text-container {

}
#about-tablet-layout .text-container p {

}
#about-tablet-layout .btns-container {

}


/* For Mobile Layout Only
--------------------- */
#about-mobile-layout {

}
#about-mobile-layout .img-container {

}
#about-mobile-layout .img-container img {

}
#about-mobile-layout .text-container {

}
#about-mobile-layout .text-container p {

}
#about-mobile-layout .btns-container {

}


/* For All Layouts
--------------------- */
.about-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  padding: 2rem;
}

.img-container {
  grid-column: 1 / 5;
  grid-row: 1 / 11;
  justify-self: center;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid var(--secondary);
  border-radius: 10%;
}

.text-container {
  grid-column: 5 / 11;
  grid-row: 1 / 9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 3.5rem;
}

.text-container p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.btns-container {
  grid-column: 5 / 11;
  grid-row: 9 / 11;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}