/* For All Layouts
--------------------- */
.about-layout {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-gap: 2rem;
	padding: 2rem;
	margin: 4.5rem auto 3rem;
}

.img-container {
	grid-column: 1 / 5;
	grid-row: 1 / 11;
	justify-self: center;
}

.img-container img {
	max-width: 100%;
	max-height: 100%;
	border: 5px solid var(--secondary);
	border-radius: 10%;
}

.text-container {
	grid-column: 5 / 11;
	grid-row: 1 / 9;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.text-container p {
	font-weight: 300;
}

.btns-container {
	grid-column: 5 / 11;
	grid-row: 9 / 11;
	justify-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
}

.toolbox-btn,
.resume-btn {
	font-size: 2rem;
}

/* For Desktop Layout Only
--------------------- */
/* #about-desktop-layout {
} */
/* #about-desktop-layout .img-container {
} */
/* #about-desktop-layout .img-container img {
} */
#about-desktop-layout .text-container {
	gap: 2.5rem;
}
#about-desktop-layout .text-container p {
	font-size: 1.55rem;
}
#about-desktop-layout .btns-container {
	gap: 10rem;
}

/* For Laptop Layout Only
--------------------- */
/* #about-laptop-layout {
} */
/* #about-laptop-layout .img-container {
} */
/* #about-laptop-layout .img-container img {
} */
#about-laptop-layout .text-container {
	gap: 1.75rem;
}
#about-laptop-layout .text-container p {
	font-size: 1.2rem;
}
#about-laptop-layout .btns-container {
	gap: 5rem;
}

/* For Tablet Layout Only
--------------------- */
/* #about-tablet-layout {
} */
#about-tablet-layout .img-container {
	grid-column: 1 / 5;
	grid-row: 1 / 7;
}
/* #about-tablet-layout .img-container img {
} */
#about-tablet-layout .text-container {
	grid-column: 5 / 11;
	grid-row: 1 / 11;
	gap: 1.5rem;
}
#about-tablet-layout .text-container p {
	font-size: 1.1rem;
}
#about-tablet-layout .btns-container {
	grid-column: 1 / 5;
	grid-row: 7 / 11;
	flex-direction: column;
}

/* For Mobile Layout Only
--------------------- */
#about-mobile-layout {
	display: flex;
	flex-direction: column;
}
/* #about-mobile-layout .img-container {
} */
/* #about-mobile-layout .img-container img {
} */
#about-mobile-layout .text-container {
	gap: 1.75rem;
}
#about-mobile-layout .text-container p {
	font-size: 0.9rem;
}
#about-mobile-layout .btns-container {
	flex-direction: column;
	gap: 1.5rem;
}
