* {
  box-sizing: border-box;
}

:root {
  --primary: #1abc9c;
  --secondary: #2c3e50;
  --border: rgb(255, 255, 255, 0.1);
  --font-size: 1vw;
  --font-weight: 400;
  --line-height: 1.25;
}

body {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  font-family: "Rubik", sans-serif;
  color: white;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}