@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
	--primary: hsl(168, 76%, 42%);
	--secondary: hsl(211, 30%, 24%);
	--font-family: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* ::-webkit-scrollbar {
	display: none;
}

body {
	font-family: var(--font-family);
	color: white;
	background-color: var(--primary);
	min-height: 100vh;
	overflow-x: hidden;
}

a {
	color: white;
	text-decoration: none;
}
