#footer-container {
  height: 100%;
  display: flex;
  gap: 3rem;
}

.footer-icon:hover {
  stroke: var(--primary);
  stroke-width: 8;
}

@media (min-width: 768px) {
  #footer-container {
    gap: 5rem;
  }
}