.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100%;
  padding: 0.5rem 0;
}

.footer-container .footer-icon:hover {
  stroke: var(--primary);
  stroke-width: 8;
}