/* For Desktop Layout Only
--------------------- */
#home-desktop-layout > img {
  width: 575px;
}
#home-desktop-layout .home-divider > hr {
  margin: 5rem 7.5%;
}
#home-desktop-layout .home-descriptors-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
#home-desktop-layout .home-descriptors-container > * {
  gap: 1.75rem;
}
#home-desktop-layout .home-descriptors-container .home-descriptor > div {
  font-size: 1.6rem;
}


/* For Laptop Layout Only
--------------------- */
#home-laptop-layout > img {
  width: 525px;
}
#home-laptop-layout .home-divider > hr {
  margin: 4rem 7.5%;
}
#home-laptop-layout .home-descriptors-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.75rem;
}
#home-laptop-layout .home-descriptors-container > * {
  gap: 1.5rem;
}
#home-laptop-layout .home-descriptors-container .home-descriptor > div {
  font-size: 1.4rem;
}


/* For Tablet Layout Only
--------------------- */
#home-tablet-layout > img {
  width: 475px;
}
#home-tablet-layout .home-divider > hr {
  margin: 3.75rem 10%;
}
#home-tablet-layout .home-descriptors-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4.5rem;
}
#home-tablet-layout .home-descriptors-container > * {
  gap: 1.25rem;
}
#home-tablet-layout .home-descriptors-container .home-descriptor > div {
  font-size: 1.15rem;
}
@media (max-width: 850px) {
  #home-tablet-layout > img {
    width: 425px;
  }
  #home-tablet-layout .home-divider > hr {
    margin: 3.5rem 12.5%;
  }
  #home-tablet-layout .home-descriptors-container {
    flex-direction: column;
    gap: 5rem;
  }
  #home-tablet-layout .home-descriptors-container > * {
    gap: 1.5rem;
  }
  #home-tablet-layout .home-descriptors-container .home-descriptor > div {
    font-size: 1.4rem;
  }
}


/* For Mobile Layout Only
--------------------- */
#home-mobile-layout > img {
  width: 375px;
}
#home-mobile-layout .home-divider > hr {
  margin: 3.5rem 12.5%;
}
#home-mobile-layout .home-descriptors-container {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  padding-bottom: 4.5rem;
}
#home-mobile-layout .home-descriptors-container > * {
  gap: 1.25rem;
}
#home-mobile-layout .home-descriptors-container .home-descriptor > div {
  font-size: 1.35rem;
}


/* For All Layouts
--------------------- */
.home-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin-top: 3.5rem;
}

.home-divider {
  width: 100%;
}

.home-divider > hr {
  background-color: white;
  border-bottom-width: 0.1rem;
}

.home-descriptors-container > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}