#logo-icon {
	transition: all 0s;
}

#logo-icon:hover {
	cursor: grab;
	animation: rotate 1.5s linear infinite;
	fill: white;
	stroke: var(--primary);
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#menu-icon:hover {
	stroke: var(--primary);
	cursor: pointer;
}

#linkedin-icon:hover {
	stroke: var(--primary);
	stroke-width: 8;
}

#github-icon:hover {
	stroke: var(--primary);
	stroke-width: 8;
}

#codepen-icon:hover {
	stroke: var(--primary);
	stroke-width: 8;
}

#stack-overflow-icon:hover {
	stroke: var(--primary);
	stroke-width: 8;
}

#hawk-icon:hover {
	fill: var(--secondary);
	stroke: white;
	stroke-width: 50;
	cursor: grab;
}

#toolbox-btn-lg-icon:hover,
#toolbox-btn-sm-icon:hover {
	fill: var(--secondary);
	stroke: var(--secondary);
	cursor: pointer;
}

#resume-btn-lg-icon:hover,
#resume-btn-sm-icon:hover {
	fill: var(--secondary);
	stroke: var(--secondary);
}

#close-btn-icon:hover {
	fill: white;
	stroke: var(--secondary);
	stroke-width: 3;
	cursor: pointer;
}

#laptop-icon:hover {
	fill: white;
	stroke: var(--secondary);
	stroke-width: 15;
	cursor: grab;
}

#superhero-icon:hover {
	fill: blue;
	stroke: red;
	stroke-width: 7;
	cursor: grab;
}

#family-icon:hover {
	fill: white;
	stroke: var(--secondary);
	stroke-width: 15;
	cursor: grab;
}

#tennessee-icon:hover {
	fill: #f77f00;
	stroke: white;
	stroke-width: 8;
	cursor: grab;
}

#right-arrow-icon:hover,
#left-arrow-icon:hover {
	fill: var(--secondary);
	cursor: pointer;
}
