button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu-icon:hover {
  stroke: var(--primary);
}

.menu-list {
  position: absolute;
  top: 4.25rem;
  left: 2rem;
  z-index: 1;
  padding: 0.5rem;
  background-color: rgba(44, 62, 80, 0.8);
  border: 3px solid white;
  border-radius: 1rem;
}

.menu-list-item {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}
.menu-list-item:hover {
  color: var(--primary);
}