/* For All Layouts
--------------------- */
[id^='nav-shrink'] {
	height: 8rem;
	position: sticky;
	top: 0;
	background-color: var(--secondary);
	border-bottom: solid white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: height 0.5s ease-in-out;
}
[id^='nav-shrink'].navbar-shrink {
	height: 5rem;
}

[id^='nav-shrink'] .nav-logo-container {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
}

[id^='nav-shrink'] .nav-logo-icon {
	fill: var(--primary);
	stroke: white;
}
[id^='nav-shrink'] .nav-logo-icon:hover {
	cursor: grab;
	animation: rotate 1.5s linear infinite;
	fill: white;
	stroke: var(--primary);
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

[id^='nav-shrink'] .nav-logo-title {
	font-weight: 500;
	text-transform: uppercase;
}
@media (max-width: 359px) {
	[id^='nav-shrink'] .nav-logo-title {
		display: none;
	}
}

[id^='nav-shrink'] .nav-links-container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-left: solid white;
}

[id^='nav-shrink'] .nav-link {
	text-transform: uppercase;
}
[id^='nav-shrink'] .nav-link:hover {
	color: var(--primary);
}

[id^='nav-shrink'] .nav-social-container {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-left: solid white;
	padding: 0rem 2.5%;
}

[id^='nav-shrink'] .nav-social-icon {
	stroke: white;
}
[id^='nav-shrink'] .nav-social-icon:hover {
	stroke: var(--primary);
	stroke-width: 8;
}

/* For Laptop Layout → 1280px and above
--------------------- */
#nav-shrink-laptop .nav-logo-container {
	flex-basis: 31.5%;
	justify-content: flex-start;
	padding-left: 2.5%;
}

#nav-shrink-laptop .nav-logo-icon {
	width: clamp(4.5rem, 2.833rem + 2.083vw, 5rem);
	transition: width 0.5s ease-in-out;
}
#nav-shrink-laptop.navbar-shrink .nav-logo-icon {
	width: clamp(3rem, 1.333rem + 2.083vw, 3.5rem);
}

#nav-shrink-laptop .nav-logo-title {
	font-size: clamp(1.75rem, 0.083rem + 2.083vw, 2.25rem);
	transition: font-size 0.5s ease-in-out;
}
#nav-shrink-laptop.navbar-shrink .nav-logo-title {
	font-size: clamp(1.5rem, 0.667rem + 1.042vw, 1.75rem);
}

#nav-shrink-laptop .nav-links-container {
	flex-basis: 43.5%;
	padding: 0rem 2.5%;
}

#nav-shrink-laptop .nav-link {
	font-size: clamp(1.25rem, 0.417rem + 1.042vw, 1.5rem);
	transition: font-size 0.5s ease-in-out;
}
#nav-shrink-laptop.navbar-shrink .nav-link {
	font-size: clamp(1rem, 0.167rem + 1.042vw, 1.25rem);
}

#nav-shrink-laptop .nav-social-container {
	flex-basis: 25%;
}

#nav-shrink-laptop .nav-social-icon {
	width: clamp(2rem, 0.333rem + 2.083vw, 2.5rem);
	transition: width 0.5s ease-in-out;
}
#nav-shrink-laptop.navbar-shrink .nav-social-icon {
	width: clamp(1.5rem, -0.167rem + 2.083vw, 2rem);
}

/* For Large Tablet Layout → 1024px to 1279px
--------------------- */
#nav-shrink-tablet-large .nav-logo-container {
	flex-basis: 32%;
	justify-content: flex-start;
	padding-left: 2.5%;
}

#nav-shrink-tablet-large .nav-logo-icon {
	width: clamp(4rem, 1.992rem + 3.137vw, 4.5rem);
	transition: width 0.5s ease-in-out;
}
#nav-shrink-tablet-large.navbar-shrink .nav-logo-icon {
	width: clamp(2.5rem, 0.5rem + 3.125vw, 3rem);
}

#nav-shrink-tablet-large .nav-logo-title {
	font-size: clamp(1.35rem, -0.25rem + 2.5vw, 1.75rem);
	transition: font-size 0.5s ease-in-out;
}
#nav-shrink-tablet-large.navbar-shrink .nav-logo-title {
	font-size: clamp(1.15rem, -0.05rem + 1.875vw, 1.45rem);
}

#nav-shrink-tablet-large .nav-links-container {
	flex-basis: 43%;
	padding: 0rem 2.5%;
}

#nav-shrink-tablet-large .nav-link {
	font-size: clamp(1rem, 0rem + 1.563vw, 1.25rem);
	transition: font-size 0.5s ease-in-out;
}
#nav-shrink-tablet-large.navbar-shrink .nav-link {
	font-size: clamp(0.85rem, -0.15rem + 1.563vw, 1.1rem);
}

#nav-shrink-tablet-large .nav-social-container {
	flex-basis: 25%;
}

#nav-shrink-tablet-large .nav-social-icon {
	width: clamp(1.65rem, 0.45rem + 1.875vw, 1.95rem);
	transition: width 0.5s ease-in-out;
}
#nav-shrink-tablet-large.navbar-shrink .nav-social-icon {
	width: clamp(1.45rem, 0.25rem + 1.875vw, 1.75rem);
}

/* For Small Tablet Layout → 640px to 1023px
--------------------- */
#nav-shrink-tablet-small .nav-logo-container {
	flex-basis: 42.5%;
	justify-content: flex-start;
	padding-left: 2.5%;
}

#nav-shrink-tablet-small .nav-logo-icon {
	width: clamp(3.5rem, 2.667rem + 2.083vw, 4rem);
	transition: width 0.5s ease-in-out;
}
#nav-shrink-tablet-small.navbar-shrink .nav-logo-icon {
	width: clamp(2rem, 1.167rem + 2.083vw, 2.5rem);
}

#nav-shrink-tablet-small .nav-logo-title {
	font-size: clamp(1.15rem, 0.317rem + 2.083vw, 1.65rem);
	transition: font-size 0.5s ease-in-out;
}
#nav-shrink-tablet-small.navbar-shrink .nav-logo-title {
	font-size: clamp(0.95rem, 0.617rem + 0.833vw, 1.15rem);
}

#nav-shrink-tablet-small .nav-links-container {
	flex-basis: 57.5%;
	justify-content: flex-end;
	padding-right: 2.5%;
	gap: 1.5rem;
}

#nav-shrink-tablet-small .nav-link {
	font-size: clamp(0.85rem, 0.183rem + 1.667vw, 1.25rem);
	transition: font-size 0.5s ease-in-out;
}
#nav-shrink-tablet-small.navbar-shrink .nav-link {
	font-size: clamp(0.75rem, 0.333rem + 1.042vw, 1rem);
}

/* For Mobile Layout → 639px and below
--------------------- */
#nav-shrink-mobile .nav-menu-container {
	min-height: 5rem;
	flex-basis: 20%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1.5rem;
}

#nav-shrink-mobile .nav-logo-container {
	flex-basis: 80%;
	justify-content: flex-end;
	padding-right: 1.5rem;
}

#nav-shrink-mobile .nav-logo-icon {
	width: clamp(3.5rem, 2.857rem + 2.857vw, 4rem);
	transition: width 0.5s ease-in-out;
}
#nav-shrink-mobile.navbar-shrink .nav-logo-icon {
	width: clamp(2rem, 1.357rem + 2.857vw, 2.5rem);
}

#nav-shrink-mobile .nav-logo-title {
	font-size: clamp(1.15rem, 0.507rem + 2.857vw, 1.65rem);
	transition: font-size 0.5s ease-in-out;
}
#nav-shrink-mobile.navbar-shrink .nav-logo-title {
	font-size: clamp(0.95rem, 0.693rem + 1.143vw, 1.15rem);
}
