/* For All Layouts
--------------------- */
nav {
	position: sticky;
	top: 0;
	height: 5rem;
	background-color: var(--secondary);
	border-bottom: solid white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out;
}
nav.shadow {
	box-shadow: 0 7.5px 5px 10px rgba(0, 0, 0, 0.25);
}
nav.hidden {
	transform: translateY(-110%);
}

footer {
	background-color: var(--secondary);
	border-top: solid white;
}

.nav-logo-container {
	min-height: 5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.nav-logo-title {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1rem;
}
@media (max-width: 359px) {
	.nav-logo-title {
		display: none;
	}
}

.nav-links-container {
	min-height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-left: solid white;
}

.nav-links-container a {
	text-transform: uppercase;
	font-size: 1rem;
}

.nav-links-container a:hover {
	color: var(--primary);
}

.nav-social-container {
	min-height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-left: solid white;
	padding: 0rem 2.5%;
}

/* For Laptop Layout → 1280px and above
--------------------- */
#nav-laptop {
	min-height: 100vh;
	min-height: 100dvh;

	display: grid;
	grid-template-rows: auto 1fr auto;
}
#nav-laptop .nav-logo-container {
	flex-basis: 32.5%;
	justify-content: flex-start;
	padding-left: 2.5%;
}
#nav-laptop .nav-links-container {
	flex-basis: 42.5%;
	padding: 0rem 2.5%;
}
#nav-laptop .nav-social-container {
	flex-basis: 25%;
}

/* For Large Tablet Layout → 1024px to 1279px
--------------------- */
#nav-tablet-large {
	min-height: 100vh;
	min-height: 100dvh;

	display: grid;
	grid-template-rows: auto 1fr auto;
}
#nav-tablet-large .nav-logo-container {
	flex-basis: 32.5%;
	justify-content: flex-start;
	padding-left: 2.5%;
}
#nav-tablet-large .nav-links-container {
	flex-basis: 42.5%;
	padding: 0rem 2.5%;
}
#nav-tablet-large .nav-social-container {
	flex-basis: 25%;
}

/* For Small Tablet Layout → 640px to 1023px
--------------------- */
#nav-tablet-small {
	min-height: 100vh;
	min-height: 100dvh;

	display: grid;
	grid-template-rows: auto 1fr auto;
}
#nav-tablet-small .nav-logo-container {
	flex-basis: 35%;
	justify-content: flex-start;
	padding-left: 2.5%;
}
#nav-tablet-small .nav-links-container {
	flex-basis: 65%;
	justify-content: flex-end;
	padding-right: 2.5%;
	gap: 1.5rem;
	/* padding: 0rem 2.5%; */
}

/* For Mobile Layout → 639px and below
--------------------- */
#nav-mobile {
	min-height: 100vh;
	min-height: 100dvh;

	display: grid;
	grid-template-rows: auto 1fr auto;
}
#nav-mobile .nav-menu-container {
	min-height: 5rem;
	flex-basis: 20%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1.5rem;
}
#nav-mobile .nav-logo-container {
	flex-basis: 80%;
	justify-content: flex-end;
	padding-right: 1.5rem;
}
