/* For Desktop Layout
--------------------- */
#nav-desktop-layout {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15% 85%;
}

#nav-desktop-layout > nav {
  grid-column: span 12;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--secondary);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  left: 0;
}

#nav-desktop-layout > main {
  grid-column: span 12;
  width: 100%;
}

#nav-desktop-layout .nav-logo-container {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 1.5rem;
  gap: 1rem;
}
#nav-desktop-layout .nav-logo-title {
  font-size: calc(var(--font-size) + 1.25rem);
  text-transform: uppercase;
}

#nav-desktop-layout .nav-links-container {
  flex-basis: 47.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0rem 1.5rem;
  border-left: 1px solid var(--border);
}
#nav-desktop-layout .nav-links-container > a {
  font-size: calc(var(--font-size) + 0.5rem);
  text-transform: uppercase;
}
#nav-desktop-layout .nav-links-container > a:hover {
  color: var(--primary);
  font-weight: bold;
}

#nav-desktop-layout .nav-social-container {
  flex-basis: 22.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0rem 1.5rem;
  border-left: 1px solid var(--border);
}
#nav-desktop-layout .nav-social-container .nav-social-icon:hover {
  stroke: var(--primary);
  stroke-width: 8;
}


/* For Laptop Layout
--------------------- */
#nav-laptop-layout {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15% 85%;
}

#nav-laptop-layout > nav {
  grid-column: span 12;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--secondary);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  left: 0;
}

#nav-laptop-layout > main {
  grid-column: span 12;
  width: 100%;
}

#nav-laptop-layout .nav-logo-container {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 1.5rem;
  gap: 1rem;
}
#nav-laptop-layout .nav-logo-title {
  font-size: calc(var(--font-size) + 0.8rem);
  text-transform: uppercase;
}

#nav-laptop-layout .nav-links-container {
  flex-basis: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0rem 1.5rem;
  border-left: 1px solid var(--border);
}
#nav-laptop-layout .nav-links-container > a {
  font-size: calc(var(--font-size) + 0.35rem);
  text-transform: uppercase;
}
#nav-laptop-layout .nav-links-container > a:hover {
  color: var(--primary);
  font-weight: bold;
}

#nav-laptop-layout .nav-social-container {
  flex-basis: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0rem 1.5rem;
  border-left: 1px solid var(--border);
}
#nav-laptop-layout .nav-social-container .nav-social-icon:hover {
  stroke: var(--primary);
  stroke-width: 8;
}


/* For Tablet Layout
--------------------- */
#nav-tablet-layout {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15% 85%;
}

#nav-tablet-layout > nav {
  grid-column: span 12;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--secondary);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  left: 0;
}

#nav-tablet-layout > main {
  grid-column: span 12;
  width: 100%;
}

#nav-tablet-layout > footer {
  grid-column: span 12;
  background-color: var(--secondary);
  width: 100%;
  border-top: 1px solid var(--border);
  position: fixed;
  bottom: 0;
  left: 0;
}

#nav-tablet-layout .nav-logo-container {
  flex-basis: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 1.5rem;
  gap: 1rem;
}
#nav-tablet-layout .nav-logo-title {
  font-size: calc(var(--font-size) + 0.95rem);
  text-transform: uppercase;
}

#nav-tablet-layout .nav-links-container {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-left: 1px solid var(--border);
  padding: 0rem 1.5rem;
}
#nav-tablet-layout .nav-links-container > a {
  font-size: calc(var(--font-size) + 0.55rem);
  text-transform: uppercase;
}
#nav-tablet-layout .nav-links-container > a:hover {
  color: var(--primary);
  font-weight: bold;
}


/* For Mobile Layout
--------------------- */
#nav-mobile-layout {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 80% 10%;
}

#nav-mobile-layout > nav {
  grid-column: span 12;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--secondary);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  left: 0;
}

#nav-mobile-layout > main {
  grid-column: span 12;
  width: 100%;
}

#nav-mobile-layout > footer {
  grid-column: span 12;
  background-color: var(--secondary);
  width: 100%;
  border-top: 1px solid var(--border);
  position: fixed;
  bottom: 0;
  left: 0;
}

#nav-mobile-layout .nav-menu-container {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 1.5rem;
}

#nav-mobile-layout .nav-logo-container {
  flex-basis: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 1.5rem;
  gap: 1rem;
}
#nav-mobile-layout .nav-logo-title {
  font-size: calc(var(--font-size) + 1.25rem);
  text-transform: uppercase;
}