/* For All Layouts
--------------------- */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 5rem;
	background-color: var(--secondary);
	border-bottom: 1px solid white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out;
}
nav.shadow {
	box-shadow: 0 7.5px 5px 10px rgba(0, 0, 0, 0.25);
}
nav.hidden {
	transform: translateY(-110%);
}

main {
	width: 100%;
	margin: 5rem 0rem 3.75rem;
}

footer {
	position: sticky;
	bottom: 0;
	width: 100%;
	height: 3.5rem;
	background-color: var(--secondary);
	border-top: 1px solid white;
}

.nav-logo-container {
	min-height: 5rem;
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.nav-logo-title {
	font-weight: 500;
	text-transform: uppercase;
	font-size: clamp(1.25rem, 1.043rem + 0.92vw, 2rem);
}
@media (max-width: 359px) {
	.nav-logo-title {
		display: none;
	}
}

.nav-links-container {
	min-height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-left: 1px solid white;
}

.nav-links-container a {
	text-transform: uppercase;
	font-size: clamp(1rem, 0.794rem + 0.429vw, 1.25rem);
}

.nav-links-container a:hover {
	color: var(--primary);
}

.nav-social-container {
	min-height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-left: 1px solid white;
	padding: 0rem 2.5%;
}

/* For Desktop Layout
--------------------- */
#nav-desktop-layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}
#nav-desktop-layout .nav-logo-container {
	flex-basis: 35%;
	justify-content: flex-start;
	padding-left: 2.5%;
}
#nav-desktop-layout .nav-links-container {
	flex-basis: 45%;
	padding: 0rem 2.5%;
}
#nav-desktop-layout .nav-social-container {
	flex-basis: 25%;
}

/* For Laptop Layout
--------------------- */
#nav-laptop-layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}
#nav-laptop-layout .nav-logo-container {
	flex-basis: 32.5%;
	justify-content: flex-start;
	padding-left: 2.5%;
}
#nav-laptop-layout .nav-links-container {
	flex-basis: 42.5%;
	padding: 0rem 2.5%;
}
#nav-laptop-layout .nav-social-container {
	flex-basis: 25%;
}

/* For Tablet Layout
--------------------- */
#nav-tablet-layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}
#nav-tablet-layout .nav-logo-container {
	flex-basis: 42.5%;
	justify-content: flex-start;
	padding-left: 2.5%;
}
#nav-tablet-layout .nav-links-container {
	flex-basis: 57.5%;
	padding: 0rem 2.5%;
}

/* For Mobile Layout
--------------------- */
#nav-mobile-layout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}
#nav-mobile-layout .nav-menu-container {
	min-height: 5rem;
	flex-basis: 20%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1.5rem;
}
#nav-mobile-layout .nav-logo-container {
	flex-basis: 80%;
	justify-content: flex-end;
	padding-right: 1.5rem;
}
