/* For All Layouts
--------------------- */
.resume-open-btn {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 1rem;
	padding: 0.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1rem;
}

/* For Desktop Layout Only
--------------------- */
#resume-desktop-layout .resume-btn-title {
	font-size: 1.75rem;
}

/* For Laptop Layout Only
--------------------- */
#resume-laptop-layout .resume-btn-title {
	font-size: 1.5rem;
}

/* For Tablet Layout Only
--------------------- */
#resume-tablet-layout .resume-btn-title {
	font-size: 1.25rem;
}

/* For Mobile Layout Only
--------------------- */
#resume-mobile-layout .resume-btn-title {
	font-size: 1rem;
}
