.toolbox-open-btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.toolbox-title {
  font-size: 1.75rem;
  color: white;
}

.toolbox-window {
  position: fixed;
  top: 80px;
  left: 0px;
  z-index: 1;
  padding: 0.5rem;
  background-color: rgba(44, 62, 80, 0.9);
  border: 3px solid white;
  border-radius: 1rem;
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.toolbox-close-btn {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  top: 5;
  right: 0;
  cursor: pointer;
}

.toolbox-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}