/* For All Layouts
--------------------- */
.toolbox-background {
	width: 100vw;
	/* height: 100vh; */
	background-color: rgba(200, 200, 200, 0.5);
	position: fixed;
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.toolbox-window {
	width: 80%;
	height: 80%;
	border: 5px solid var(--secondary);
	border-radius: 1rem;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	padding: 0rem 2rem 1rem;
	overflow-y: auto;
}

.toolbox-close-btn {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.toolbox-window .toolbox-icons-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 2rem;
}

.toolbox-icons {
	width: 10%;
	height: 10%;
}

/* For Desktop Layout Only
--------------------- */
#toolbox-desktop-layout .toolbox-btn-title {
	font-size: 1.75rem;
}

/* For Laptop Layout Only
--------------------- */
#toolbox-laptop-layout .toolbox-btn-title {
	font-size: 1.5rem;
}

/* For Tablet Layout Only
--------------------- */
#toolbox-tablet-layout .toolbox-btn-title {
	font-size: 1.25rem;
}

/* For Mobile Layout Only
--------------------- */
#toolbox-mobile-layout .toolbox-btn-title {
	font-size: 1rem;
}
