/* For Mobile Layout → 639x and below
--------------------- */
#work-samples-mobile {
	
}

#work-samples-mobile .image-section {
	
}
#work-samples-mobile .image-container {
	transition: opacity 2s;
}
#work-samples-mobile img {
	width: 100%;
}
#work-samples-mobile .image-container[data-status='active'] {
	opacity: 1;
}
#work-samples-mobile .image-container[data-status='inactive'] {
	opacity: 0;
}

#work-samples-mobile .info-section {
	
}
#work-samples-mobile .info-container {
	transition: opacity 2s;
}
#work-samples-mobile h2 {
	
}
#work-samples-mobile p {
	
}
#work-samples-mobile .info-container[data-status='active'] {
	opacity: 1;
}
#work-samples-mobile .info-container[data-status='inactive'] {
	opacity: 0;
}
#work-samples-mobile .link-container {
	transition: opacity 1s;
}
#work-samples-mobile .link-btn {
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--secondary);
	border: 2px solid white;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
#work-samples-mobile .link-container[data-status='active'] {
	opacity: 1;
}
#work-samples-mobile .link-container[data-status='inactive'] {
	opacity: 0;
}

#work-samples-mobile .nav-section {
	
}
#work-samples-mobile .left-arrow-icon {
	
}
#work-samples-mobile .right-arrow-icon {
	
}
