/* For Laptop Layout → 1280px and above
--------------------- */
#work-samples-laptop {
	position: relative;
	height: calc(100vh - 8.75rem);
}

#work-samples-laptop > article {
	height: calc(100vh - 8.75rem);
	display: grid;
	grid-template-columns: 1.75fr 1fr;
	position: absolute;
	transition: transform 400ms ease;
}

#work-samples-laptop > article[data-status='inactive'] {
	transform: translateX(-100%);
	transition: none;
}

#work-samples-laptop > article[data-status='active'] {
	transform: translateX(0%);
}

#work-samples-laptop > article[data-status='before'] {
	transform: translateX(-100%);
}

#work-samples-laptop > article[data-status='after'] {
	transform: translateX(100%);
}

#work-samples-laptop > article[data-status='becoming-active-from-before'] {
	transform: translateX(-100%);
	transition: none;
}

#work-samples-laptop > article[data-status='becoming-active-from-after'] {
	transform: translateX(100%);
	transition: none;
}

#work-samples-laptop > article > .article-section {
	display: flex;
}

#work-samples-laptop > article > .article-image-section {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: calc(100vh - 8.75rem);
}

#work-samples-laptop > article:first-child > .article-image-section {
	background-image: url('../images/work-samples/social_network.png');
}

#work-samples-laptop > article:nth-child(2) > .article-image-section {
	background-image: url('../images/work-samples/message_forum.png');
}

#work-samples-laptop > article:nth-child(3) > .article-image-section {
	background-image: url('../images/work-samples/song_search.png');
}

#work-samples-laptop > article:nth-child(4) > .article-image-section {
	background-image: url('../images/work-samples/note_taker.png');
}

#work-samples-laptop > article:nth-child(5) > .article-image-section {
	background-image: url('../images/work-samples/weather_dashboard.png');
}

#work-samples-laptop > article:nth-child(6) > .article-image-section {
	background-image: url('../images/work-samples/workday_scheduler.png');
}

#work-samples-laptop > article > .article-info-section {
	max-height: calc(100vh - 8.75rem);
	display: grid;
	grid-template-rows: 15% 70% 15%;
	border-left: 2px solid white;
}

#work-samples-laptop
	> article
	> .article-info-section
	> .article-title-section {
	padding: 1rem 3rem 1.5rem;
	display: flex;
	align-items: center;
}

#work-samples-laptop
	> article
	> .article-info-section
	> .article-title-section
	> h2 {
	font-size: 2.25rem;
	line-height: 2.25rem;
	margin: 0px;
	text-transform: uppercase;
}

#work-samples-laptop
	> article
	> .article-info-section
	> .article-description-section {
	padding: 2rem 3rem;
	display: flex;
	align-items: flex-start;
}

#work-samples-laptop
	> article
	> .article-info-section
	> .article-description-section
	> p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.25em;
	line-height: 1.5em;
}

#work-samples-laptop > article > .article-info-section > .article-nav-section {
	border-top: 2px solid white;
	display: flex;
}

#work-samples-laptop
	> article
	> .article-info-section
	> .article-nav-section
	> .article-nav-button {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#work-samples-laptop
	> article
	> .article-info-section
	> .article-nav-section
	> .article-nav-button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

#work-samples-laptop
	> article
	> .article-info-section
	> .article-nav-section
	> .article-nav-button:nth-child(2) {
	border-left: 2px solid white;
}

/* For Tablet Layout → 640px to 1279px
--------------------- */
#work-samples-tablet {
	position: relative;
	height: calc(100vh - 8.75rem);
}

#work-samples-tablet > article {
	height: calc(100vh - 8.75rem);
	display: grid;
	grid-template-columns: 1.75fr 1fr;
	position: absolute;
	transition: transform 400ms ease;
}

#work-samples-tablet > article[data-status='inactive'] {
	transform: translateX(-100%);
	transition: none;
}

#work-samples-tablet > article[data-status='active'] {
	transform: translateX(0%);
}

#work-samples-tablet > article[data-status='before'] {
	transform: translateX(-100%);
}

#work-samples-tablet > article[data-status='after'] {
	transform: translateX(100%);
}

#work-samples-tablet > article[data-status='becoming-active-from-before'] {
	transform: translateX(-100%);
	transition: none;
}

#work-samples-tablet > article[data-status='becoming-active-from-after'] {
	transform: translateX(100%);
	transition: none;
}

#work-samples-tablet > article > .article-section {
	display: flex;
}

#work-samples-tablet > article > .article-image-section {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: calc(100vh - 8.75rem);
}

#work-samples-tablet > article:first-child > .article-image-section {
	background-image: url('../images/work-samples/social_network.png');
}

#work-samples-tablet > article:nth-child(2) > .article-image-section {
	background-image: url('../images/work-samples/message_forum.png');
}

#work-samples-tablet > article:nth-child(3) > .article-image-section {
	background-image: url('../images/work-samples/song_search.png');
}

#work-samples-tablet > article:nth-child(4) > .article-image-section {
	background-image: url('../images/work-samples/note_taker.png');
}

#work-samples-tablet > article:nth-child(5) > .article-image-section {
	background-image: url('../images/work-samples/weather_dashboard.png');
}

#work-samples-tablet > article:nth-child(6) > .article-image-section {
	background-image: url('../images/work-samples/workday_scheduler.png');
}

#work-samples-tablet > article > .article-info-section {
	max-height: calc(100vh - 8.75rem);
	display: grid;
	grid-template-rows: 15% 70% 15%;
	border-left: 2px solid white;
}

#work-samples-tablet
	> article
	> .article-info-section
	> .article-title-section {
	padding: 1rem 3rem 1.5rem;
	display: flex;
	align-items: center;
}

#work-samples-tablet
	> article
	> .article-info-section
	> .article-title-section
	> h2 {
	font-size: 2.25rem;
	line-height: 2.25rem;
	margin: 0px;
	text-transform: uppercase;
}

#work-samples-tablet
	> article
	> .article-info-section
	> .article-description-section {
	padding: 2rem 3rem;
	display: flex;
	align-items: flex-start;
}

#work-samples-tablet
	> article
	> .article-info-section
	> .article-description-section
	> p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.25em;
	line-height: 1.5em;
}

#work-samples-tablet > article > .article-info-section > .article-nav-section {
	border-top: 2px solid white;
	display: flex;
}

#work-samples-tablet
	> article
	> .article-info-section
	> .article-nav-section
	> .article-nav-button {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#work-samples-tablet
	> article
	> .article-info-section
	> .article-nav-section
	> .article-nav-button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

#work-samples-tablet
	> article
	> .article-info-section
	> .article-nav-section
	> .article-nav-button:nth-child(2) {
	border-left: 2px solid white;
}

/* For Mobile Layout → 639px and below
--------------------- */
#work-samples-mobile {
	position: relative;
	height: calc(100vh - 8.75rem);
}

#work-samples-mobile article {
	height: calc(100vh - 8.75rem);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	transition: transform 400ms ease;
}

#work-samples-mobile article[data-status='inactive'] {
	transform: translateX(-100%);
	transition: none;
}

#work-samples-mobile article[data-status='active'] {
	transform: translateX(0%);
}

#work-samples-mobile article[data-status='before'] {
	transform: translateX(-100%);
}

#work-samples-mobile article[data-status='after'] {
	transform: translateX(100%);
}

#work-samples-mobile article[data-status='becoming-active-from-before'] {
	transform: translateX(-100%);
	transition: none;
}

#work-samples-mobile article[data-status='becoming-active-from-after'] {
	transform: translateX(100%);
	transition: none;
}

#work-samples-mobile .article-image-section {
	width: 100%;
}

#work-samples-mobile .article-title-section {
	padding: 0.5rem 1rem;
}

#work-samples-mobile .article-title-section > h2 {
	text-align: center;
	font-size: 1.75rem;
	text-transform: uppercase;
}

#work-samples-mobile .article-description-section {
	padding: 0.5rem 1rem;
}

#work-samples-mobile .article-description-section > p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1rem;
}

#work-samples-mobile .btns-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

#work-samples-mobile .link-btn {
	border: 1px solid white;
	border-radius: 0.75rem;
	padding: 0.75rem;
	background-color: var(--secondary);
	font-size: 1rem;
	width: 50%;
	max-width: 175px;
	text-align: center;
}

#work-samples-mobile .article-nav-section {
	width: 100%;
	border-top: 2px solid white;
	display: flex;
	padding: 0.5rem 0rem;
	/* justify-content: space-evenly; */
}

#work-samples-mobile .article-nav-section > .article-nav-button {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#work-samples-mobile .article-nav-section > .article-nav-button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

#work-samples-mobile .article-nav-section > .article-nav-button:nth-child(2) {
	border-left: 2px solid white;
}
