/* For All Layouts */
.arrow-icon {
	width: 75px;
	fill: white;
}

[data-status|='active'] {
	opacity: 1;
}

[data-status|='inactive'] {
	opacity: 0;
}

[class^='link-container'][data-status|='active'] {
	opacity: 1;
	visibility: visible;
}

[class^='link-container'][data-status|='inactive'] {
	opacity: 0;
	visibility: hidden;
}

/* For Laptop Layout → 1280px and above
--------------------- */
#work-samples-laptop {
	position: relative;
}

#work-samples-laptop .sample-section {
	width: 100%;
	height: 100%;
	position: relative;
	display: grid;
	grid-template-columns: 60% 40%;
	/* transition: transform 5s ease-in-out; */
}

#work-samples-laptop .image-section {
	width: 100%;
	height: 100%;
	max-height: calc(100vh - 9.5rem);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

#work-samples-laptop [class^='image-container'] {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	transition: opacity 1.5s ease-in-out;
}

#work-samples-laptop .work-sample-image {
	width: 100%;
	height: calc(100vh - 9.5rem);
	object-fit: cover;
}

#work-samples-laptop .info-nav-vertical {
	width: 100%;
	height: 100%;
	max-height: calc(100vh - 9.5rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 2px solid white;
}

#work-samples-laptop .info-link-vertical {
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#work-samples-laptop .info-section {
	height: 70%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	padding: 1rem 2rem 0rem;
}

#work-samples-laptop [class^='info-container'] {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	transition: opacity 1.5s ease-in-out;
}

#work-samples-laptop .info-title {
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
}

#work-samples-laptop .info-text {
	font-size: 1.45rem;
	font-weight: 200;
}

#work-samples-laptop .link-section {
	height: 30%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

#work-samples-laptop [class^='link-container'] {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	transition: opacity 1.5s ease-in-out;
}
#work-samples-laptop [class^='link-container']:has(.bonus-link) {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 0.25rem;
	column-gap: 2rem;
	transition: opacity 1.5s ease-in-out;
}

#work-samples-laptop .link-btn {
	width: clamp(8.438rem, 4.271rem + 10.417vw, 10.938rem);
	font-size: clamp(1rem, 0.583rem + 1.042vw, 1.25rem);
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--secondary);
	border: 2px solid white;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
#work-samples-laptop .link-btn:hover {
	box-shadow:
		2px 2px 10px hsla(0, 0%, 100%, 0.5),
		-2px -2px 10px hsla(0, 0%, 100%, 0.5),
		-2px 2px 10px hsla(0, 0%, 100%, 0.5),
		2px -2px 10px hsla(0, 0%, 100%, 0.5);
}

#work-samples-laptop .nav-section {
	height: 15%;
	display: flex;
	justify-content: space-evenly;
	border-top: solid white;
	cursor: pointer;
}

#work-samples-laptop .left-arrow-icon-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

#work-samples-laptop .right-arrow-icon-container {
	width: 100%;
	display: flex;
	justify-content: center;
	border-left: solid white;
}

#work-samples-laptop .left-arrow-icon-container:hover,
#work-samples-laptop .right-arrow-icon-container:hover {
	background-color: hsla(211, 30%, 24%, 0.5);
}

/* For Tablet Layout → 640x to 1279px
--------------------- */
#work-samples-tablet {
	height: calc(100vh - 9.5rem);
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: space-between; */
	display: grid;
	grid-template-rows: 1fr 1fr auto auto;
}

/* #work-samples-tablet .sample-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
} */

#work-samples-tablet .image-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	padding-top: 0.5rem;
}

#work-samples-tablet [class^='image-container'] {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	transition: opacity 1.5s ease-in-out;
}

#work-samples-tablet .work-sample-image {
	aspect-ratio: 4/3;
	width: clamp(31.25rem, 7.813rem + 58.594vw, 45.313rem);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	object-fit: cover;
}

#work-samples-tablet .info-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	padding: 0rem clamp(3.5rem, -1.5rem + 12.5vw, 6.5rem);
}

#work-samples-tablet [class^='info-container'] {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	transition: opacity 1.5s ease-in-out;
}

#work-samples-tablet .info-title {
	font-size: clamp(2rem, 1.167rem + 2.083vw, 2.5rem);
	text-align: center;
	text-transform: uppercase;
}

#work-samples-tablet .info-text {
	font-size: clamp(1.25rem, 0.917rem + 0.833vw, 1.45rem);
	font-weight: 200;
}

#work-samples-tablet .link-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	padding-bottom: clamp(1.5rem, 0.667rem + 2.083vw, 2rem);
}

#work-samples-tablet [class^='link-container'] {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(5rem, 0rem + 12.5vw, 8rem);
	transition: opacity 1.5s ease-in-out;
}

#work-samples-tablet .link-btn {
	width: clamp(8.438rem, 4.271rem + 10.417vw, 10.938rem);
	font-size: clamp(1rem, 0.583rem + 1.042vw, 1.25rem);
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--secondary);
	border: 2px solid white;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
#work-samples-tablet .link-btn:hover {
	box-shadow:
		2px 2px 10px hsla(0, 0%, 100%, 0.5),
		-2px -2px 10px hsla(0, 0%, 100%, 0.5),
		-2px 2px 10px hsla(0, 0%, 100%, 0.5),
		2px -2px 10px hsla(0, 0%, 100%, 0.5);
}

#work-samples-tablet .nav-section {
	display: flex;
	justify-content: space-evenly;
	border-top: solid white;
	/* height: 85px; */
	cursor: pointer;
}

#work-samples-tablet .left-arrow-icon-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

#work-samples-tablet .right-arrow-icon-container {
	width: 100%;
	display: flex;
	justify-content: center;
	border-left: solid white;
}
#work-samples-tablet .left-arrow-icon-container:hover,
#work-samples-tablet .right-arrow-icon-container:hover {
	background-color: hsla(211, 30%, 24%, 0.5);
}

/* For Mobile Layout → 639x and below
--------------------- */
#work-samples-mobile {
	height: calc(100vh - 9.5rem);
	display: grid;
	grid-template-rows: repeat(4, auto);
	/* grid-template-rows: auto auto 1fr 1fr; */
}

/* #work-samples-mobile .sample-section {
	height: calc(100vh - 9.5rem);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
} */

#work-samples-mobile .image-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	padding-top: 0.5rem;
	z-index: -1;
}

#work-samples-mobile [class^='image-container'] {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	transition: opacity 1.5s ease-in-out;
}

#work-samples-mobile .work-sample-image {
	width: clamp(20.313rem, 6.25rem + 62.5vw, 31.25rem);
	box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	object-fit: cover;
}

#work-samples-mobile .info-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	padding: 0.5rem clamp(1.5rem, -1.714rem + 14.286vw, 4rem);
}

#work-samples-mobile [class^='info-container'] {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	flex-direction: column;
	/* gap: 0.5rem; */
	transition: opacity 1.5s ease-in-out;
}

#work-samples-mobile .info-title {
	font-size: clamp(1.5rem, 0.857rem + 2.857vw, 2rem);
	text-align: center;
	text-transform: uppercase;
}

#work-samples-mobile .info-text {
	font-size: clamp(1rem, 0.679rem + 1.429vw, 1.25rem);
	font-weight: 200;
}

#work-samples-mobile .link-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	padding: 0rem clamp(1rem, 0.357rem + 2.857vw, 1.5rem);
}

#work-samples-mobile [class^='link-container'] {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(2rem, -1.857rem + 17.143vw, 5rem);
	transition: opacity 1.5s ease-in-out;
}
#work-samples-mobile [class^='link-container']:has(.bonus-link) {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	transition: opacity 1.5s ease-in-out;
}

#work-samples-mobile .link-btn {
	width: 135px;
	font-size: clamp(0.85rem, 0.657rem + 0.857vw, 1rem);
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--secondary);
	border: 2px solid white;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
#work-samples-mobile .link-btn:hover {
	box-shadow:
		2px 2px 10px hsla(0, 0%, 100%, 0.5),
		-2px -2px 10px hsla(0, 0%, 100%, 0.5),
		-2px 2px 10px hsla(0, 0%, 100%, 0.5),
		2px -2px 10px hsla(0, 0%, 100%, 0.5);
}

#work-samples-mobile .nav-section {
	display: flex;
	justify-content: space-evenly;
	border-top: solid white;
	cursor: pointer;
}

#work-samples-mobile .left-arrow-icon-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

#work-samples-mobile .right-arrow-icon-container {
	width: 100%;
	display: flex;
	justify-content: center;
	border-left: solid white;
}
#work-samples-mobile .left-arrow-icon-container:hover,
#work-samples-mobile .right-arrow-icon-container:hover {
	background-color: hsla(211, 30%, 24%, 0.5);
}

#work-samples-mobile .arrow-icon {
	width: clamp(3.125rem, 1.116rem + 8.929vw, 4.688rem);
}
